*
{
    margin: 0;
    padding: 0;
}
    
body
{
    background-color: rgb(98, 96, 146);

}

h1,h2
{
    text-align: center;
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.datos
{
    width: 30%;
    height: 100px;
    float: left;
    border: 3px #ffffff solid;
    margin-left: 2%;
}

.osm
{
    width: 60%;
    height: 500px;
    margin-right: 5%;
    float: right;
}

.form-seleccion
{
    width: 30%;
    height: 100px;
    float: left;
    border: 3px #ffffff solid;
    margin-left: 2%;
    margin-top: 1%;
    display: flex;
    align-items: center;
}

.form-seleccion button
{
    width: 200px;
    height: 60px;
    margin: 0 auto;
    font-size: 21px;
    background-color: chocolate;
    border: 0;
    cursor: pointer;
    color: #ffffff;
}